fastapi
uvicorn
python-multipart
catboost
polars
pydantic
pandas
scikit-learn
torch
torchvision
pillow
numpy
neo4j
sentence-transformers
python-dotenv
gymnasium
stable-baselines3
langchain
langgraph
onnx
onnxruntime
evidently
celery
redis
